@charset "UTF-8";
@media (max-width: 767px) {
  body {
    width: 100%;
    overflow-x: hidden;
    background: linear-gradient(to bottom, #fff 86.5%, #eee 13.5%);
  }
  .header-container {
    height: 90px;
  }
  .header-width {
    padding: 0;
    flex-wrap: wrap;
    width: 700px;
    max-width: 96%;
  }

  .header-article {
    margin: 8px 0 0 2%;
  }
  .header-information {
    margin: 8px 2% 0 0;
    border: 1px solid #eee;
  }
  .Search-box-wrapper {
    width: 92%;
    margin-bottom: 2%;
  }
  .form-input {
    width: 95%;
  }
  .header-twitter img {
    padding-left: 5%;
    padding: 5%;
    width: 27px;
    height: 27px;
    margin-bottom: 1em;
  }
  .header-title-wrapper {
    height: 80px;
  }
  .header-title {
    margin-left: 2%;
    font-size: 2.3em;
    padding-top: 3%;
  }
  .header-sub-title {
    margin-left: 2%;
  }

  /*ハンバーガーアイコン*/
  .btn-burger {
    cursor: pointer;
    display: block;
    width: 28px;
    height: 78px;
    position: absolute;
    top: 92px;
    right: 15px;
  }
  /*ハンバーガーアイコンを作る三本線*/
  .icon,
  .icon:before,
  .icon:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 2px; /*線の太さ*/
    width: 16px; /*線の長さ*/
    background-color: #fff;
    border-radius: 1px;
    display: block;
    content: "";
    cursor: pointer;
    margin: auto;
  }
  /*三本線の間隔*/
  .icon:before {
    top: 11px;
  }
  .icon:after {
    top: -11px;
  }
  /*チェックボックス非表示*/
  .nav-toggle {
    display: none;
  }
  /*アイコンをクリックしたら*/
  .nav-toggle:checked ~ .btn-burger .icon {
    background: transparent;
  }
  .nav-toggle:checked ~ .btn-burger .icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  .nav-toggle:checked ~ .btn-burger .icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  .icon,
  .icon:before,
  .icon:after {
    transition: all 0.8s;
  }

  #navToggle {
    display: none;
  }
  .article {
    display: block;
    max-width: 98%;
    margin: 0 5px;
  }
  .main-article {
    border: none;
    width: 100%;
    display: block;
    margin-top: 0;
    padding-right: 0;
  }

  .header-address {
    padding: 1% 2%;
    margin: 0 2%;
    overflow-x: scroll;
    white-space: nowrap;
    display: flex;
  }
  .main-title {
    font-size: 2.4em;
    margin: 5% 4%;
  }
  .detail {
    margin: 0 5%;
    width: 92%;
  }

  .main-image1 img {
    height: 400px;
    width: 96%;
    margin: 1em 2% 0 2%;
  }
  .sns-icon {
    margin: 1.5em 3%;
    width: 94%;
  }
  .twitter img,
  .facebook img,
  .hatena img {
    height: 35px;
  }
  .main-text {
    margin: 3em 25px 0 25px;
  }
  .main-image2 {
    margin: 1em 25px;
  }
  .main-image2 img {
    height: 350px;
  }

  .main-image2-detail {
    margin-top: 1em;
  }
  .contents {
    width: 350px;
    padding: 1.5em 0;
    margin: 12% 25px 0 25px;
  }

  .btn {
    font-size: 1.5em;
  }

  .list-number {
    font-size: 1.1em;
  }

  .list-text {
    font-size: 1.1em;
  }
  .saport-heading {
    font-size: 2.1em;
    margin: 9% 25px 4% 25px;
    letter-spacing: 0em;
  }
  .saport-heading:first-letter {
    font-size: 1.5em;
  }
  .saport-list {
    font-size: 1.5em;
    margin: 0 25px;
  }
  .list {
    margin: 0.5em 4% 0 6%;
    font-size: 1.5em;
  }
  .list::before {
    width: 3px;
    height: 3px;
    left: -7px;
  }
  .saport-title {
    width: 90%;
    padding: 4%;
    font-size: 1.7em;
    margin: 8% 25px 5% 25px;
  }
  .saport-text {
    font-size: 1.5em;
    margin: 0 25px;
    letter-spacing: 0.1em;
  }
  .saport-title-exception {
    width: 90%;
    padding: 4%;
    font-size: 1.7em;
    margin: 4% 25px 5% 25px;
    letter-spacing: 0.1em;
  }
  .text-span span {
    font-weight: normal;
  }
  .font-bold {
    font-weight: bold;
  }
  .room-info {
    font-size: 1.6em;
    margin: 2em 25px 1.5em 25px;
  }
  .room-info-details {
    font-size: 1.5em;
    margin: 4% 25px 0% 25px;
  }

  .application {
    margin: 4% 25px 0% 25px;
  }
  .name {
    margin: 4% 25px 10% 25px;
  }
  .siderbar-wrapper {
    display: block;
    margin: 6% 25px 0 25px;
  }
  .sidebar-wrapper-left {
    width: 100%;
  }
  .back-article {
    font-size: 1.2em;
    width: 15%;
    padding: 0.3em;
  }
  .back-wrapper {
    margin-top: 3%;
  }
  .back-wrapper img {
    margin: 0 2% 14% 0;
  }
  .back-text span {
    font-size: 1.3em;
    margin-left: 3%;
    display: inline-block;
  }
  .foot-date img {
    margin-left: 3%;
  }
  .sidebar-wrapper-right {
    border-top: transparent;
    width: 100%;
  }

  .next-article {
    font-size: 1.2em;
    width: 15%;
    margin-left: 85%;
    padding: 0.3em;
  }

  .next-text {
    margin: 2em 0 5% 40%;
  }
  hr {
    width: 90%;
    margin-left: 25px;
    margin-right: 25px;
  }
  .Relation-article {
    width: 90%;
    margin: 5% 25px 0 25px;
    font-size: 1.6em;
    padding: 1% 0;
  }
  .Relation-article-wrapper {
    margin: 3% 25px 5% 25px;
  }
  .Relation-article-title span {
    font-size: 1.3em;
  }
  .Relation-article-text {
    font-size: 1.1em;
    margin-top: 1%;
  }

  .side-navigation {
    width: 100%;
    padding-left: 0;
  }

  .side-kensaku-box {
    margin: 17% 1% 3% 1%;
    width: 98%;
  }
  .side-form-box {
    width: 100%;
  }
  .side-form-input {
    width: 100%;
  }
  .side-border {
    width: 98%;
    margin: 40px 1%;
  }
  .side-article {
    font-size: 1.6em;
    width: 90px;
    margin-left: 1%;
    margin-right: 1%;
  }
  .Recently-article-wrapper {
    margin: 1.5em 1% 0 1%;
  }
  .Recently-article-title {
    font-size: 1.2em;
  }
  .side-li-dashed {
    font-size: 1.2em;
    margin: 20px 2% 30px 2%;
    width: 96%;
    padding-bottom: 1.2em;
  }
  .side-li-none {
    font-size: 1.2em;
    margin: 20px 2% 5em 2%;
  }
  .tab-wrapper {
    width: 33%;
  }
  .foot-twitter-wrapper a {
    margin: 40px auto;
  }
  .foot-twitter {
    padding: 20px;
  }
  .foot-wrapper {
    margin-top: 4em;
  }
  .copy {
    font-size: 1.4em;
  }
  .foot-text {
    font-size: 1.2em;
  }
}
